<!DOCTYPE html>
<html>
<head>
    <title>The site: @ViewBag.Title</title>
    @*<link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />*@
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    
</head>
<body>
    <header class="container">
        <h1>Welcome To The Site</h1>
        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
            </ul>
        </menu>
    </header>
    <section>
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer>Copyright 2018 frogster entertainment</footer>


    @*<script src="~/vendor/jquery/dist/jquery.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>*@
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/index.js"></script>

    @RenderSection("scripts", false)

</body>
</html>